@charset "UTF-8"


.category a, .category a:active, .category a:visited {
    color: #333;
}
#content {
    width: 942px;
/*    height: 1000px;*/
    margin: 0 auto 190px;
    position: relative;
    top: 140px;
    background-color: #f9f9f9;
    box-shadow: 0px -10px 50px #ddd;
    padding: 42px 71px 50px;
    box-sizing: border-box;
}
.pageTit {
    font-family: 'Open Sans', 'Noto Sans KR', Arial, 'OpenSans', 'NotoSans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: #999;
    box-sizing: border-box;
}
.pageTit a, .pageTit a:active, .pageTit a:visited {
    color: #999;
}
.pageTit a:hover {
    color: #999;
    text-decoration: underline;
}
.pageTit .arr {
    display: inline-block;
    margin-left: 18px;
}
.pageTit .arr img {
    vertical-align: baseline;
}

/* 카테고리 선택 .category*/
.category {
    width: 800px;
    margin: 50px auto 20px;
}
.category:after {
    content: "";
    display: block;
    clear: both;
}
.category p {
    margin: 0;
}
.category > ul > li {
    width: 380px;
    height: 180px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    float: left;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 15px #e0e0e0;
    cursor: pointer;
    position: relative;
}
.category > ul > li:nth-child(2n) {
    margin-right: 0;
}
.category > ul > li a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
}
.category .eachTit {
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto 6px;
    color: #333;
}
.category .eachEx {
    font-size: 13px;
    margin: 0 auto;
    color: #999;
}
.category > ul > li:hover {
    transition: all .5s;
    background-color: #333;
}
.category > ul > li:hover .eachTit {
    color: #fff;
    font-size: 28px;
    margin: 0 auto 5px;
}
.category > ul > li:hover .eachEx {
    display: none;
}
.category > ul > li:hover > .sub-categ {
    display: block;
    opacity: 1;
}
.sub-categ {
    display: none;
    width: 80%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 90px;
    position: absolute;
    top: 78px;
    left: 10%;
    opacity: 0;
}
.sub-categ > li {
    display: inline-block;
    height: 24px;
    color: #ddd;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    letter-spacing: -0.25px;
    margin: 0 12px;
}
.sub-categ > li:first-child {
    margin-top: 15px;
}
.category_mobile {
    display: none;
}


@media all and (min-width:1201px) {
    
}

@media all and (min-width:641px) and (max-width:1200px) {
    #content {
        width: 100%;
        max-width: 600px;
    }
    
    .category {
        width: 100%;
    }
    .category > ul > li {
        width: 100%;
        margin-right: 0;
    }
    .sub-categ {
        width: 66%;
        left: 17%;
    }
}

@media all and (max-width:640px) {
    #content {
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
        margin: 0 auto 110px;
        top: 110px;
        padding: 20px 9vw 70px;
    }
    .pageTit {
        display: block;
        width: 185px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .pageTit .arr {
        display: inline-block;
    }
    
    .category {
        width: 0;
        display: none;
    }
    .category_mobile a,
    .category_mobile a:active,
    .category_mobile a:visited {
        color: #333;
    }
    .category_mobile {
        display: block;
        width: 100%;
        margin: 50px auto;
    }
    .category_mobile > ul > li {
        width: 90%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
    }
    .category_mobile .mobTit {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 80px;
        text-align: center;
        color: #333;
        border: 2px solid #f3f3f3;
    }
    .mobTit.linked {
        background-color: #f5f5f5;
        box-sizing: border-box;
    }
    .category_mobile .mobTit > .moreB {
        margin-left: 20px;
        margin-top: 35px;
    }
    .category_mobile .mobTit > .moreB.on {
        transform: rotate(180deg);
        transform-origin: center;
    }
    .category_mobile .m-sub {
        display: none;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .m-sub > li {
        width: 100%;
        text-align: center;
        line-height: 38px;
        font-size: 14px;
        color: #999;
    }
}



