@charset "UTF-8"

/*----- 푸터 footer -----*/
    /* ---fixed part */
.snsQuick {
    z-index: 110;
    display: block;
    position: fixed;
    bottom: 120px;
    right: 55px;
    height: 30px;
    font-size: 30px;
    text-align: right;
}
.snsQuick li {
    height: 30px;
    float: right;
    margin-left: 20px;
}

.letterSub {
    z-index: 110;
    display: block;
    width: 170px;
    height: 40px;
    overflow: hidden;
    position: fixed;
    bottom: 60px;
    right: 55px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
}
.letterSub fieldset {
    width: 170px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.letterSub input[type=text] {
    width: 70%;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 6px 0px 5px 10px;
}
.letterSub button[type=button] {
    float: right;
    width: 41px;
    height: 41px;
    margin: 0;
}

    /*--위로가기 버튼 goUp--*/
#foot .goUp {
    display: none;
    width: 50px;
    height: 50px;
    
    position: fixed;
    bottom: 180px;
    right: 50px;
    z-index: 99;
}
#foot .goUp a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #8b0094;
    box-shadow: 0px 10px 20px rgba(139, 0, 148, 0.5);
    border-radius: 18px;
    padding: 19px 17px;
    box-sizing: border-box;
}
    /*-- 위로가기 버튼 goUp 끝// --*/

    /* ---footer contact us--- */
footer, #foot {
    width: 100%;
}
.contactUs {
    width: 100%;
    background-color: #ffcf00;
    background-image: url('../img/pattern_oblique.png');
}
.contactUs .contactBox {
    display: block;
    width: 100%;
    position: relative;
}
.contactBox h5:after {
    content: "";
    display: block;
    width: 182px;
    height: 1px;
    background: #111;
    margin-top: -40px;
}
.contactBox h5 {
    display: block;
    position: relative;
    height: 114px;
    width: 100%;
    max-width: 942px;
    margin: 0 auto;
    line-height: 114px;
    
    font-size: 20px;
    font-weight: 700;
}
.contactBox h5 span {
    font-size: 14px;
    margin-left: 20px;
}
.contactBox h5 img {
    margin: 48px 22px 0 -45px;
}
.contactBox .contactinfo {
    display: none;
    height: 236px;
    position: relative;
    background-color: #ffcf00;
    background-image: url('../img/pattern_oblique.png');
}
.cinfo_m {
    display: none;
}
.contactinfo .nowis {
    color: #fff;
    position: absolute;
    top: 20px;
    left: calc(50% - 460px);
    font-family: 'Noto Sans KR', sans-serif;
}
.nowis strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.nowis p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.contactinfo .emailadd {
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: calc(50% - 169px);
    background-color: #ffcf00;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(245, 179, 0, 0.7);
}
.contactinfo .telnum {
    display: block;
    width: 300px;
    height: 90px;
    position: absolute;
    left: calc(50% + 171px);
    background-color: #ffcf00;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(245, 179, 0, 0.7);
}
.contactinfo .postadd {
    display: block;
    width: 300px;
    height: 90px;
    position: absolute;
    top: 110px;
    left: calc(50% + 171px);
    background-color: #ffcf00;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(245, 179, 0, 0.7);
}
.contactinfo .contactHow p {
    font-weight: 700;
    font-size: 20px;
    margin-left: 29px;
    margin-bottom: 0px;
}
.contactinfo .contactHow span {
    display: block;
    width: 165px;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    text-align: right;
    line-height: 18px;
    margin-left: 110px;
    margin-top: -5px;
}
.contactinfo .contactHow span+span {
    margin-top: 0px;
    font-size: 17px;
    font-weight: 700;
    color: #0e812f;
}
.contactinfo .emailadd span {
    margin-left: 37px;
    font-size: 17px;
    text-align: left;
    width: 220px;
    height: 50px;
    line-height: 25px;
    margin-top: 27px;
}
.contactinfo .emailadd button {
    background-image: url('../img/contact-by-email.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 2px 5px inset #054818;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 175px;
    
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.ginfo_m {
    display: none;
}
.contactUs .grtBox {
    display: block;
    width: 100%;
    position: relative;
    height: 116px;
}
.grtBox:before {
    content: "";
    display: block;
    width: 1090px;
    height: 2px;
    margin: 0 auto;
    background: #f5b300;
}
.grtBox h5:after {
    content: "";
    display: block;
    width: 192px;
    height: 1px;
    background: #111;
    margin-top: -40px;
}
.grtBox h5 {
    display: block;
    position: relative;
    height: 114px;
    width: 100%;
    max-width: 942px;
    margin: 2px auto 0;
    line-height: 114px;
    
    font-size: 20px;
    font-weight: 700;
}
.grtBox .guartinfo {
    height: 58px;
    padding-top: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: calc(50% - 217px);
    background-image: url('../img/back_circle_f.png');
    background-repeat: repeat-x;
}
.guartinfo p {
    display: block;
    float: left;
    height: 47px;
    width: 204px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 25px;
    z-index: 20;
}
    /* ---footer bottom menu--- */
.bottommenu {
    background: #333;
    position: relative;
}
.b_upper:after {
    content: "";
    display: block;
    clear: both;
}
.b_upper {
/*    display: block;*/
    width: 100%;
    max-width: 942px;
    margin: 0 auto;
}
.b_upper > li {
    color: #ddd;
/*    display: block;*/
    float: left;
    box-sizing: border-box;
    width: 25%;
}
.b_upper > li > p {
    line-height: 1em;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #ddd;
    margin: 23px auto;
}
.b_upper > li > p > .downarr {
    display: inline-block;
    margin: 3px 0 0 20px;
}
.b_sub {
    position: relative;
    float: left;
    display: none;
}
.b_sub > li {
    color: #ddd;
    display: block;
    width: 235.5px;
    height: 32px;
    margin-bottom: 2px;
    
    line-height: 32px;
    font-size: 11px;
    text-align: center;
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #aaa;
}
.b_sub > li:last-child {
    margin-bottom: 33px;
}
    /* ---footer bottom info copyright--- */
.bottominfo {
    height: 192px;
    width: 100%;
    background-color: #111;
}
.bottominfo .footeradd {
    width: 100%;
    max-width: 942px;
    padding-top: 25px;
    box-sizing: border-box;
    margin: 0 auto;
    
    color: #999;
    font-size: 12px;
}
.footeradd p {
    margin: 0 auto 24px;
    line-height: 1.2em;
}
.footeradd span {
    margin-right: 35px;
}
/*----- 푸터 끝 // -----*/

