@charset "UTF-8"


nav a, nav a:active, nav a:visited {
    color: #333;
}
#content {
    width: 942px;
/*    height: 1400px;*/
    margin: 0 auto 190px;
    position: relative;
    top: 140px;
    background-color: #f9f9f9;
    box-shadow: 0px -10px 50px #ddd;
    padding: 42px 71px 50px;
    box-sizing: border-box;
}
.pageTit {
    font-family: 'Open Sans', 'Noto Sans KR', Arial, 'OpenSans', 'NotoSans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: #999;
    box-sizing: border-box;
}
.pageTit a, .pageTit a:active, .pageTit a:visited {
    color: #999;
}
.pageTit a:hover {
    color: #999;
    text-decoration: underline;
}
.pageTit span {
    margin-left: 18px;
}
.pageTit .arr {
    display: inline-block;
    margin-left: 18px;
}
.pageTit .arr img {
    vertical-align: baseline;
}

/* 옵션 선택창 option box */
.optionBox {
    position: absolute;
    top: 133px;
    left: 56px;
    z-index: 20;
}
.option {
    height: 350px;
    box-shadow: 0px 5px 12px rgba(170, 170, 170, 0.5);
}
.option > li {
    display: block;
    width: 156px;
    height: 50px;
    background-color: #fff;
}
.option > li:first-child {
    background-color: #eee;
}
.option > li > a {
    display: block;
    width: 90%;
    height: 51px;
    margin: 0 auto;
    border-bottom: 2px solid #f8f8f8;
    box-sizing: border-box;
    
    line-height: 51px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #111;
}
.option > li > a:visited, .option > li > a:active {
    color: #111;
}
.option > li:first-child > a {
    color: #999;
    border-bottom: none;
}
.option > li:last-child > a {
    border-bottom: none;
}
.option > li.selected {
    background-color: #333;
    border-bottom: none;
}
.option > li.selected > a {
    color: #eee;
    border-bottom: none;
}

.sub-option {
    display: none;
    width: 220px;
    height: 350px;
    margin-left: 156px;
    position: absolute;
    top: 0;
    background-color: rgba(51, 51, 51, 0.9);
}
.sub-option > li {
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    line-height: 51px;
    font-size: 14px;
    color: #eee;
    position: relative;
}
.sub-option > li:before {
    content: "";
    display: inline-block;
    border: 2px solid #eee;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    position: absolute;
    top: 17px;
    left: 24px;
}
.sub-option > li.selected:before {
    border-width: 9px;
}
.option > li.selected > .sub-option {
    display: block;
}
/* 옵션 선택창 option box 끝// */

.listPage {
    margin-left: 225px;
    margin-top: 50px;
    width: 590px;
/*    height: 1250px;*/
}
.productList:after {
    content: "";
    display: block;
    clear: both;
}
.productList {
    margin-bottom: 25px;
}
ul.list {
    display: none;
}
ul.list.active {
    display: block;
}
.productList > ul > li {
    display: inline-block;
    width: 180px;
    height: 260px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #ddd;
    margin-right: 20px;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
}
.productList > ul > li.adv {
    background-color: #000;
}
.productList > ul > li > .backimg {
    height: 200px;
}
.productList > ul > li:hover > .backimg {
    animation: Ho 0.5s ease-in-out;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
@keyframes Ho {
    0% {
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}
.productList > ul > li > .itemtag {
    height: 26px;
    position: absolute;
    left: 14px;
    top: 12px;
}
.productList > ul > li > .itemtit {
    color: #333;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 1.3;
    margin: 0;
    
    position: absolute;
    bottom: 36px;
    left: 36px;
}
.productList > ul > li > .itemprice {
    color: #333;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    line-height: 1;
    margin: 0;
    
    position: absolute;
    bottom: 13px;
    right: 17px;
}
.productList > ul > .adv > .backimg {
    height: 215px;
}
.productList > ul > .adv > .logo {
    height: 12px;
    position: absolute;
    left: 20px;
    top: 12px;
}
.productList > ul > .adv > .itemtit {
    position: absolute;
    bottom: 16px;
    right: 14px;
    
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    line-height: 1.3;
    margin: 0;
}

.pagenation {
    width: 100%;
    text-align: center;
}
.pagenation button {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: #333;
    background-color: transparent;
}
.pagenation span {
    margin: 0 32px;
}
.pagenation button.arrow i {
    font-size: 20px;
    line-height: 1;
    margin-top: 2px;
}
.pagenation button.active {
    background: url('../img/active-box.png') no-repeat center;
}
.moreBtn {
    display: none;
}


@media all and (min-width:1201px) {
    .mob {
        display: none;
    }
    
    .productList > ul > li:nth-child(3n) {
        margin-right: 0;
    }
    
    .m-option {
        display: none;
    }
}

@media all and (min-width:641px) and (max-width:1200px) {
    .mob {
        display: none;
    }
    #content {
        width: 100%;
        max-width: 600px;
    }
    
    /* 옵션 선택창 option box */
    .optionBox {
        position: absolute;
        top: 115px;
        left: calc(50% - 170px);
        z-index: 20;
        width: 340px;
    }
    .option {
        display: none;
    }
    .m-option {
        box-shadow: 0px 5px 12px rgba(71, 71, 71, 0.2);
    }
    .popup_opt {
        display: none;
        background: #555;
    }
    .showTop {
        display: block;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 45px;
        
        background-color: #fff;
        background-image: url('../img/listDown.jpg');
        background-position: 100% center;
        background-size: contain;
        background-repeat: no-repeat;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        color: #999;
    }
    .popup_opt > .optEl > a {
        display: block;
        width: 100%;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 45px;
        
        color: #fff;
        background-color: #333;
        background-image: url('../img/arrDown_d.png');
        background-repeat: no-repeat;
        background-position: 94% center;
        background-size: 12px;
        
        font-size: 18px;
        font-weight: 400;
    }
    .popup_opt .sub-opt {
        display: none;
    }
    .popup_opt .sub-opt li {
        width: 100%;
        line-height: 50px;
        
        background-color: #555;
        color: #eee;
        box-sizing: border-box;
        padding-left: 55px;
        font-weight: 300;
        position: relative;
    }
    .popup_opt .sub-opt li:before {
        content: "";
        display: inline-block;
        border: 2px solid #ddd;
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        margin-right: 20px;
        position: absolute;
        top: 19px;
        left: 24px;
    }
    .popup_opt .sub-opt li.selected:before {
        border-width: 7px;
    }
    .popup_opt .submitt .showBott {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f1f1f1;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        color: #333;
        text-align: center;
    }
    /* 옵션 선택창 option box 끝// */
    
    .listPage {
        margin-left: 0;
        margin-top: 105px;
        width: 100%;
    }
    .productList > ul > li {
        width: 45%;
        float: left;
        margin-right: 10%;
    }
    .productList > ul > li:nth-child(2n) {
        margin-right: 0;
    }
    .pagenation {
        display: none;
    }
    .moreBtn {
        display: block;
        width: 100px;
        height: 42px;
        margin: 50px auto;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 42px;
        color: #555;
        cursor: pointer;
        background: url('../img/showmore-box.png') no-repeat center;
    }
    
}

@media all and (max-width:640px) {
    #content {
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
        margin: 0 auto 110px;
        top: 110px;
        padding: 20px 9vw 70px;
    }
    .pageTit {
        display: block;
        width: 185px;
        height: 90px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .pageTit span {
        display: block;
        margin-left: 0;
    }
    .pageTit .arr {
        display: inline-block;
    }
    
    /* 옵션 선택창 option box */
    .optionBox {
        position: absolute;
        top: 120px;
        left: 9vw;
        z-index: 20;
        width: 82vw;
    }
    .option {
        display: none;
    }
    .m-option {
        box-shadow: 0px 5px 12px rgba(71, 71, 71, 0.2);
    }
    .popup_opt {
        display: none;
        background: #555;
    }
    .showTop {
        display: block;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 45px;
        
        background-color: #fff;
        background-image: url('../img/listDown.jpg');
        background-position: 100% center;
        background-size: contain;
        background-repeat: no-repeat;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        color: #999;
    }
    .showTop:active, .showTop:visited {
        color: #999;
    }
    .popup_opt > .optEl > a {
        display: block;
        width: 100%;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 45px;
        
        color: #fff;
        background-color: #333;
        background-image: url('../img/arrDown_d.png');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: 12px;
        
        font-size: 18px;
        font-weight: 400;
    }
    .popup_opt .sub-opt {
        display: none;
    }
    .popup_opt .sub-opt li {
        width: 100%;
        line-height: 50px;
        
        background-color: #555;
        color: #eee;
        box-sizing: border-box;
        padding-left: 55px;
        font-weight: 300;
        position: relative;
    }
    .popup_opt .sub-opt li:before {
        content: "";
        display: inline-block;
        border: 2px solid #ddd;
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        margin-right: 20px;
        position: absolute;
        top: 19px;
        left: 24px;
    }
    .popup_opt .sub-opt li.selected:before {
        border-width: 7px;
    }
    .popup_opt .submitt .showBott {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f1f1f1;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        color: #333;
        text-align: center;
    }
    /* 옵션 선택창 option box 끝// */
    
    .listPage {
        margin-left: 0;
        margin-top: 100px;
        width: 100%;
    }
    .productList > ul > li {
        width: 47%;
        height: 200px;
        float: left;
        margin-right: 6%;
        margin-bottom: 20px;
        text-align: right;
    }
    .productList > ul > li:nth-child(2n) {
        margin-right: 0;
    }
    .productList > ul > li > .backimg {
        height: 160px;
    }
    .productList > ul > li > .itemtit {
        left: 20px;
        bottom: 32px;
        font-size: 3.3vw;
        color: #555;
    }
    .productList > ul > li > .itemprice {
        font-size: 4vw;
        bottom: 10px;
    }
    .productList > ul > .adv > .itemtit {
        font-size: 13px;
    }
    
    .pagenation {
        display: none;
    }
    .moreBtn {
        display: block;
        width: 100px;
        height: 42px;
        margin: 50px auto;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 42px;
        color: #555;
        cursor: pointer;
        background: url('../img/showmore-box.png') no-repeat center;
    }
}









