@charset "UTF-8"
    
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #111;
    background-color: #eee;
}
ul, ol, li {
    margin: 0;
    padding: 0;
    color: #111;
    list-style: none;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #fff;
}
fieldset, button, img, form, input, table, h1, h2, h3, h4, h5 {
    border: 0;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
legend {
    display: none;
    visibility: hidden;
    color: transparent;
    text-indent: -9999px;
}
[type=search], [type=button] {
    outline: none;
    border: none;
    background-color: transparent;
}

ul:after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

/*----- 헤더 header -----*/
header #head {
    display: block;
    position: fixed;
    z-index: 99;
    width: 100vw;
}
        /* 로고 logo */
h1.logo {
    display: block;
    position: absolute;
    top: 50px;
    left: 55px;
    
    width: 108px;
    height: 50px;
    z-index: 1111;
}
h1.logo img {
    display: block;
    width: 108px;
    height: 50px;
    z-index: 1111;
}
/*-----*/
#head .topBtnWrap {
/*    width: 253px;*/
    height: 50px;
    position: absolute;
    top: 50px;
    right: 55px;
}
.topBtnWrap > ul > li {
    display: inline-block;
    margin-left: 15px;
    height: 50px;
    box-sizing: border-box;
}
.topBtnWrap > ul > li > a {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 34px;
    border-radius: 18px;
    padding: 8px;
    box-sizing: border-box;
}
.topBtnWrap li.goPlayzone {
    width: 123px;
}
.topBtnWrap li.goPlayzone a {
    display: block;
    width: 123px;
    background-color: #1360ad;
    box-shadow: 0px 10px 30px rgba(19, 96, 173, 0.5);
}

.topBtnWrap li.goGnb a {
    display: block;
    background-color: #e5280a;
    box-shadow: 0px 10px 30px rgba(229, 40, 10, 0.5);
}

.topBtnWrap li.goSearch a {
    display: block;
    background-color: #252525;
    box-shadow: 0px 10px 30px rgba(37, 37, 37, 0.5);
    text-align: center;
}
.topBtnWrap li.goSearch a img {
    width: 33px;
    height: 33px;
}
/*-----*/
#head .snsQuick, .letterSub {
    z-index: 110;
    display: none;
}
.snsQuick {
    position: absolute;
    bottom: 120px;
    right: 55px;
    height: 30px;
    font-size: 30px;
    text-align: right;
}
.snsQuick li {
    height: 30px;
    float: right;
    margin-left: 20px;
}

.letterSub {
    width: 170px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 60px;
    right: 55px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
}
.letterSub fieldset {
    width: 170px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.letterSub input[type=text] {
    width: 70%;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 6px 0px 5px 10px;
}
.letterSub button[type=button] {
    float: right;
    width: 41px;
    height: 41px;
    margin: 0;
}

    /*--위로가기 버튼 goUp--*/
#head .goUp {
    display: none;
    width: 50px;
    height: 50px;
    
    position: absolute;
    bottom: 180px;
    right: 50px;
}
#head .goUp a {
    display: block /*none*/;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #8b0094;
    box-shadow: 0px 10px 20px rgba(139, 0, 148, 0.5);
    border-radius: 18px;
    padding: 19px 17px;
    box-sizing: border-box;
}
    /*-- 위로가기 버튼 goUp 끝// --*/

#gnbPage, #searchPage {
    display: none;
    z-index: 200;
    background: rgba(17, 17, 17, 0.90);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
}
#searchPage { background: #111; }
a.closeBtn {
    position: absolute;
    top: 50px;
    right: 55px;
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 12px;
    background: #eee;
    border-radius: 18px;
    box-shadow: 0px 10px 20px rgba(238, 238, 238, 0.5);
}
#gnbPage .searchBtn {
    display: none;
}
        /* 메뉴창 gnb page */
#gnbPage #gnb {
    position: absolute;
    left: 25vw;
    top: 35vh;
}
#gnbPage #gnb li {
    margin-bottom: 10px;
}
#gnbPage #gnb a {
    font-size: 8vh;
    font-weight: 700;
    text-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
}
#gnbPage #mymenu {
    position: absolute;
    right: 25vw;
    top: 36vh;
}
#gnbPage #mymenu a {
    font-size: 3.2vh;
    line-height: 6vh;
    font-weight: 700;
    border-bottom: 3px solid #fff;
}
#gnbPage .serviceIcon {
    position: absolute;
    right: 25vw;
    bottom: 28vh;
    font-size: 12px;
    text-align: center;
}
#gnbPage .serviceIcon > li {
    display: inline-block;
    margin-left: 20px;
}
#gnbPage .serviceIcon > li > a > img {
    width: 32px;
    height: 32px;
}
#gnbPage .serviceIcon > li > a > p {
    margin-top: 6px;
    line-height: 1.1;
}
#gnbPage .gnbSns, #gnbPage .searchBtn {
    display: none;
}

        /* 검색창 search page */
#searchPage form {
    position: absolute;
    left: 19vw;
    top: 42vh;
    width: 62vw;
    height: 90px;
    border-bottom: 7px solid #fff;
}
#searchPage input[type=search] {
    background: transparent;
    width: calc(99% - 57px);
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color: #eee;
    margin: 20px 5px;
}
#searchPage input[type=search]:focus {
    
}
#searchPage #searchArea button {
    display: inline-block;
    width: 47px;
    height: 90px;
    background-color: transparent;
    background: url('../img/searchBtn.png') no-repeat 50% 50%;
    background-size: contain;
}


/*----- 본문 section -----*/
        /* 슬라이드 slide */
section#visualSlide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
}
.slide .slideEl .slideImg {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: cover;
    z-index: 1;
}
.slide .slideEl1 .slideImg {
    background-image: url('../img/Product-Large1.png');
    z-index: 9;
}
.slide .slideEl2 .slideImg {
    background-image: url('../img/Product-Large2.png');
}
.slide .slideEl3 .slideImg {
    background-image: url('../img/Product-Large3.png');
}
.slide .slideEl4 .slideImg {
    background-image: url('../img/Product-Large4.png');
}

.slide .slideEl .slideCont {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}
.slide .slideEl .slideCont.Fa {
    animation: Fa 1.5s ease;
    visibility: visible;
    opacity: 1;
    z-index: 10;
}
@keyframes Fa {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.slide .slideEl .slideCont img {
    position: absolute;
    transition: .3s;
}

.sImg11 { left: 10vw; top: 10vh; }
.sImg12 { right: 5vw; bottom: 30vh; }
.sImg21 { left: 35vw; top: 30vh; }
.sImg22 { left: 20vw; top: 35vh; }
.sImg23 { right: 20vw; top: 40vh; }
.sImg31 { left: 12vw; bottom: 25vh; }
.sImg32 { left: 35vw; bottom: 21vh; }
.sImg33 { right: 15vw; bottom: 30vh; }
.sImg41 { right: 15vw; top: 20vh; }

.slide .slideCont .titleBox {
    color: #fff;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    z-index: 199;
}
.slide .slideEl1 .slideCont .titleBox1 {
    top: 50vh; left: 24vw;
}
.slide .slideEl2 .slideCont .titleBox2 {
    top: 65vh; left: 22vw;
}
.slide .slideEl3 .slideCont .titleBox3 {
    top: 35vh; right: 13vw;
    text-align: right;
}
.slide .slideEl4 .slideCont .titleBox4 {
    top: 60vh; left: 27vw;
}
.slide .slideCont .titleBox h3 {
    font-size: 6vh;
    margin-left: -3vw;
}
.slide .slideCont .titleBox p {
    font-size: 3.2vh;
    margin-top: 15px;
}
.slide .slideCont .titleBox a.goBtn {
    background: url('../img/goBtn.png') no-repeat center;
    display: block;
    width: 57px;
    height: 57px;
    position: absolute;
    right: 0;
    top: 10px;
}
.slide .slideEl1 a.goBtn {
    right: 40px !important;
}
.slide .slideEl2 a.goBtn {
    right: -50px !important;
}
.slide .slideEl3 a.goBtn {
    right: -70px !important;
}
.slide .slideEl4 a.goBtn {
    right: -50px !important;
}
#visualSlide .slidePageNum {
    position: absolute;
    left: 55px;
    bottom: 60px;
    z-index: 199;
}
.slidePageNum .swiper-pagination-bullet {
    margin-right: 12px;
    opacity: 1;
    
    width: 18px; height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    
    background: transparent;
    border: 4px solid #fff;
    border-radius: 9px;
    box-sizing: border-box;
    transition: all .2s;
}
.slidePageNum .swiper-pagination-bullet-active {
    width: 60px;
    background: #fff;
}

/*goBtn animation*/
.goBtn:hover {
    animation: jello 2s;
    transform-origin: center;
}
@keyframes jello {

    0%,
    11.1%,
    to {
        transform: translateZ(0)
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}
/* 버튼 애니메이션//*/

/*----- 본문 container -----*/
        /* 이벤트 event */
#container {
    width: 100%;
    margin: 0;
    transition: all .1s;
}
.wrap {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
#container .box {
    margin-top: 190px;
    width: 100%;
}
.contTit {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.box h2.contTit {
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 70px;
}
.box .contTit a {
    margin-left: 40px;
}
.box .contTit .titTag {
    display: block;
    position: relative;
    left: -18px;
    margin-bottom: 9px;
}
.eventBox .contTxt {
    background: url('../img/event-cover-img.png') no-repeat 40%;
    background-size: cover;
    height: 430px;
    width: 100%;
    position: relative;
}
.contTxt .eventTxt {
    height: 350px;
    width: 41vw;
    position: absolute;
    left: 0;
    top: 80px;
/*    margin-left: -27vw;*/
    color: #fff;
    font-weight: 300;
}
.contTxt .eventTxt strong {
    display: block;
    width: 270px;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
.contTxt .eventTxt .txt {
    display: block;
    width: 270px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 110px;
}
.contTxt .eventTxt span {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.contTxt .eventTxt p {
    display: block;
    text-align: right;
    font-size: 12px;
    margin-top: 60px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 24px;
}
        /* 추천 카테고리 recommanded categories */
#container .wrapFix {
    width: 80%;
    max-width: 942px;
    margin: 70px auto;
}
#container .categWrap li {
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 54px;
}
#container .categWrap .recom1 {
    margin-left: 0;
}
#container .categWrap li a {
    display: inline-block;
    height: 132px;
    color: #111;
    font-size: 38px;
    font-weight: 700;
    line-height: 132px;
    text-align: center;
    
    background: #fff;
    border-radius: 66px;
    box-shadow: 0px 0px 16px #eee;
}
#container .categWrap .recom1 a {
     width: 293px;
}
#container .categWrap .recom2 a {
     width: 243px;
}
#container .categWrap .recom3 a {
     width: 293px;
}
        /* 인기제품 hot items */
.hotiWrap {
    height: 280px;
    width: 100%;
    max-width: 942px;
    margin: 70px auto;
}
.hotiWrap ul .item {
    display: inline-block;
    width: 290px;
    height: 280px;
    border-radius: 20px;
    float: left;
    position: relative;
    overflow: hidden;
    
    background-size: cover;
}
.hotiWrap .item1 {
    background: url('../img/hotitem_technic.jpeg') no-repeat center;
}
.hotiWrap .item2 {
    background: url('../img/hotitem_newyork.jpeg') no-repeat center;
    margin-left: 36px;
}
.hotiWrap .item3 {
    background: url('../img/hotitem_ford.jpeg') no-repeat center;
    margin-left: 36px;
}
.hotiWrap .item .logoimg {
    position: absolute;
    right: 15px;
    bottom: 17px;
}
.itemlogo1 { width: 136px; height: 18px; }
.itemlogo2 { width: 117px; height: 24px; }
.itemlogo3 { width: 107px; height: 31px; }
        /* 시리즈 series */



@media all and (min-width:1201px) {
    
    .mob {
        display: none;
    }
}

@media all and (min-width:641px) and (max-width:1200px) {
    /*  header */
    h1.logo, #head .topBtnWrap {
        top: 45px;
    }
    #head .goUp {
        bottom: 170px;
    }
    .snsQuick {
        bottom: 105px;
    }
    .letterSub {
        bottom: 45px;
    }
    #gnbPage #gnb {
        top: 22vh;
        left: 18vw;
    }
    #gnbPage #gnb a {
        font-size: 7vh;
    }
    #gnbPage #mymenu {
        top: 60vh;
        left: 18vw;
    }
    #gnbPage .serviceIcon {
        bottom: 16vh;
        right: 20vw;
    }
    
    /*  slide */
    .slide .slideEl .slideImg {
        background-position: 50% 50%;
    }
    .slide .slideEl1 .slideImg {
        background-image: url('../img/Product-Large1.jpeg');
    }
    .slide .slideEl2 .slideImg {
        background-image: url('../img/Product-Large2.jpeg');
    }
    .slide .slideEl3 .slideImg {
        background-image: url('../img/Product-Large3.jpeg');
    }
    .slide .slideEl4 .slideImg {
        background-image: url('../img/Product-Large4.jpeg');
    }
    
    .slide .slideCont .titleBox {
        top: 55vh !important;
        left: 0 !important;
        width: 90vw;
        margin: 0 5vw;
        text-align: center !important;
    }
    .titleBox .mob {
        display: none;
    }
    .slide .slideCont .titleBox h3 {
        font-size: 42px !important;
        margin: 0 !important;
    }
    .slide .slideCont .titleBox p {
        font-size: 27px !important;
        margin-top: 10px;
    }
    .slide .slideCont .titleBox .goBtn {
        right: 150px !important;
        top: -55px !important;
    }
    .slide .slideCont img {
        display: none;
    }
    #visualSlide .slidePageNum {
        bottom: 45px;
    }
    .slidePageNum .swiper-pagination-bullet {
        margin-right: 15px;
        width: 24px; height: 24px;
        border-radius: 12px;
        border-width: 6px;
    }
    .slidePageNum .swiper-pagination-bullet-active {
        width: 75px;
    }
    
    /*  container */
    .wrapFix {
        margin: 50px auto !important;
    }
    .contTit {
        width: 80vw;
        margin: 0 auto;
    }
    
    .contTxt {
        width: 100vw !important;
    }
    .contTxt .eventTxt {
        position: relative;
        height: 430px;
        top: 0;
        margin-left:5%;
        background: #00573d;
    }
    .contTxt .eventTxt strong {
        position: relative;
        top: 60px;
    }
    .contTxt .eventTxt .txt {
        position: relative;
        top: 40px;
    }
    .contTxt .eventTxt p {
        position: relative;
        font-size: 20px;
        width: 190px;
        margin: 80px 0 0 50px;
    }
    
    .categWrap {
        width: 90% !important;
    }
    .categWrap ul {
        width: 70vw;
        margin: 0 auto;
    }
    .recom2, .recom3 {
        margin-left:1vw !important;
    }
    .categWrap .categBtn a {
        height: 83px !important;
        float: none;
        clear: both;
        
        font-size: 27px !important;
        line-height: 83px !important;
    }
    .categWrap .recom1, .categWrap .recom1 a {
        width: 24vw !important;
        margin: 0;
    }
    .categWrap .recom2,.categWrap .recom2 a {
        width: 20vw !important;
    }
    .categWrap .recom3, .categWrap .recom3 a {
        width: 24vw !important;
    }
    .recom1 a, .recom2 a, .recom3 a {
        margin-left: 0px !important;
    }
    .hotiWrap ul .item {
        width: 33%;
    }
    .hotiWrap .item2, .hotiWrap .item3 {
        margin-left: 0.5%;
    }
}

@media all and (max-width:640px) {
    /*  header */
    h1.logo, h1.logo img {
        top: 25px;
        left: 25px;
        height: 38px;
        width: 84px;
    }
    #head .topBtnWrap .goPlayzone, #head .topBtnWrap .goSearch {
        display: none;
    }
    #head .topBtnWrap {
        top: 25px;
        right: 25px;
        height: 38px;
    }
    #head .topBtnWrap .goGnb a {
        height: 38px;
        width: 38px;
        border-radius: 14px;
        padding: 7px;
    }
    #head .topBtnWrap .goGnb a img {
        width: 24px;
        height: 24px;
    }
    #head .goUp {
        right: 25px;
        bottom: 25px;
        width: 38px;
        height: 38px;
        margin: 0;
    }
    #head .goUp a {
        height: 38px;
        width: 38px;
        border-radius: 14px;
        padding: 13px 12px 15px;
        margin: 0;
    }
    #head .goUp a img {
        width: 14px;
        height: 10px;
    }
    .snsQuick, 
    .letterSub {
        display: none;
    }
        /* 메뉴창 gnb page */
    a.closeBtn {
        top: 25px;
        right: 25px;
        width: 38px;
        height: 38px;
        border-radius: 14px;
        padding: 7px;
    }
    a.closeBtn img {
        width: 24px;
        height: 24px;
    }
    #gnbPage .searchBtn {
        display: block;
        position: absolute;
        top: 32px;
        right: 90px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    #gnbPage .searchBtn img {
        width: 24px;
        height: 24px;
    }
    #gnbPage #gnb {
        top: 42vh;
        left: 12vw;
    }
    #gnbPage #gnb li {
        margin: 0;
    }
    #gnbPage #gnb a {
        font-size: 38px;
    }
    #gnbPage #mymenu {
        right: 0;
        left: 12vw;
        top: 20vh;
    }
    #gnbPage #mymenu a {
        font-size: 20px;
        border-width: 2px;
    }
    #gnbPage .serviceIcon {
        right: 12vw;
        top: 21vh;
    }
    #gnbPage .serviceIcon li {
        margin-left: 9px;
    }
    #gnbPage .serviceIcon li .iconTxt {
        display: none;
    }
    /*gnb 페이지에서 보이기*/
    #gnbPage .gnbSns {
        display: block;
        position: absolute;
        left: 12vw;
        bottom: 40px;
        height: 25px;
        font-size: 25px;
        tab-size: left;
    }
    #gnbPage .gnbSns li {
        height: 25px;
        float: left;
        margin-right: 16px;
    }
    /*----gnb 페이지에서 보이기*/
    
        /* 검색 search page */
    #searchPage { transition: all .2s; }
    #searchPage h1 { display: none; }
    #searchPage form {
        position: absolute;
        left: 12vw;
        right: 90px;
        top: 32px;
        width: calc(88vw - 90px);
        margin: 0;
        padding: 0;
        height: 38px;
        border-bottom: 3px solid #fff;
    }
    #searchPage input[type=search] {
        background: transparent;
        width: calc(99% - 31px);
        height: 28px;
        line-height: 28px;
        font-size: 28px;
        color: #eee;
        margin: 5px 4px 5px 0;
    }
    #searchPage #searchArea button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background: url('../img/searchBtn.png') no-repeat 50% 50%;
        background-size: contain;
    }
    
    /*  slide */
    .slide .slideEl .slideImg {
        background-position: 35%;
    }
    .slide .slideEl1 .slideImg {
        background-image: url('../img/Product-Large1.jpeg');
    }
    .slide .slideEl2 .slideImg {
        background-image: url('../img/Product-Large2.jpeg');
    }
    .slide .slideEl3 .slideImg {
        background-image: url('../img/Product-Large3.jpeg');
    }
    .slide .slideEl4 .slideImg {
        background-image: url('../img/Product-Large4.jpeg');
    }
    .slide .slideEl .slideCont img {
        display: none;
    }
    .slide .slideCont .titleBox {
        top: 50vh !important;
        left: 0 !important;
        width: 90vw;
        margin: 0 5vw;
        text-align: center !important;
    }
    .slide .slideCont .titleBox h3 {
        font-size: 38px !important;
        margin: 0 !important;
        line-height: 1.2;
    }
    .titleBox .goBtn {
        display: block !important;
        position: absolute;
        top: -70px !important;
        bottom: 0;
        left: 60%;
    }
    .slide .slideCont .titleBox p {
        visibility: hidden;
        font-size: 27px !important;
        line-height: 20px;
        margin: 0;
        height: 30px;
    }
    .slide .slideEl4 .slideCont .titleBox p {
        margin-top: 25px;
    }
    .slide .slideCont .titleBox p .mobOn {
        display: block;
        visibility: visible;
        line-height: 0;
    }
    
    #visualSlide .slidePageNum {
        bottom: 25px;
        left: 25px;
        width: 18px;
        height: 160px;
    }
    .slidePageNum .swiper-pagination-bullet {
        margin-right: 0;
        margin-top: 7px;
        width: 18px; height: 18px;
        border-width: 4px;
        transition: all .1s
    }
    .slidePageNum .swiper-pagination-bullet-active {
        height: 60px;
        width: 14px;
    }
    
    /*  container */
    .box {
        margin-top: 120px !important;
    }
    .box .contTit {
        font-size: 41px !important;
        margin: 15px 110px !important;
    }
    .wrapFix {
        margin: 0 auto !important;
    }
    
    .contTit a img {
        margin-left: 0;
        display: block;
        width: 90px;
        height: 46px;
    }
    .contTit .titTag {
        left: 0 !important;
    }
    
    .contTxt {
        overflow: hidden;
        width: 100vw;
        height: 730px !important;
        background: #00573d !important;
    }
    .contTxt:before {
        content: url('../img/event-img.jpg');
        background-size: cover;
        height: 240px;
    }
    .contTxt .eventTxt {
        background: #00573d;
        max-width: 270px;
        width: 50%;
        height: 490px;
        margin: 0 auto;
        top: 240px;
        left: 0;
        right: 0;
    }
    .contTxt .eventTxt strong {
        left: 0;
        top: 70px;
    }
    .contTxt .eventTxt .txt {
        left: 0;
        top: 180px;
    }
    .contTxt .eventTxt p {
        left: 20%;
        bottom: 60px;
        font-size: 20px;
        width: 190px;
    }
    
    .categWrap li, .categWrap li a {
        height: 63px !important;
        float: none;
        clear: both;
        
        font-size: 20px !important;
        line-height: 63px !important;
    }
    .recom1, .recom2, .recom3 {
        margin-left: 40% !important;
    }
    .categWrap .recom1, .categWrap .recom1 a {
        width: 140px !important;
        margin: 0;
    }
    .categWrap .recom2,.categWrap .recom2 a {
        width: 116px !important;
        margin: 0 !important;
    }
    .categWrap .recom3, .categWrap .recom3 a {
        width: 140px !important;
        margin: 0 !important;
    }
}
























